* {
	font-family: sans-serif;
}

#copyright {
	background-color: #aaaaaa;
	color: white;
	font-size: 75%;
	width: 100%;
	text-align: center;
	margin: 0px;
	margin-top: 30%;
}

#makeTable table tr > * {
	border: 1px solid gray;
	height: 2em;
	padding: 0px 1em;
	white-space: nowrap;
	background-color: white;
}

div#makeTable {
}

a {
	padding: 0.5em;
	margin: 1em;
	background-color: blue;
	border-radius: 0.5em;
	color: white;
    cursor: pointer;
    background-color: #0275d8;
    text-decoration: none;
}
a:hover {
	background-color: #025aa5;
}
a:focus {
	background-color: #025aa5;
}
a:active {
	background-color: #025aa5;
}
a:disabled {
	background-color: #6f6f6f;
}

div#videoSample div {
	margin: 1em;
}
div#videoSample div img {
	margin: 0px;
	width: 200px;
	height: 200px;
}
div#videoSample div img.name {
	height: auto;
}

.center_center {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
}



p.cgname {
	font-size: 30px;
	margin-top: 70px;
	margin-bottom: -20px;
	font-weight: bold;
}
p#efx_name {
	font-size: 30px;
	margin-top: 70px;
	margin-bottom: -20px;
	font-weight: bold;
}





/* PC/Tab共通対応 */
img {
	/* 画像が画面横にはみ出さないように */
	/*max-width: 100%;*/
	/*height: auto;*/
}

.mobile {
	display: none;
}
.nomobile {
	display: inline-block;
}

/* スマホまたは幅960px以下の画面の場合の対応 */
@media screen and (max-width: 960px) {
	img {
		/* 画像の横に文字が回り込まないように */
		float: none;
	}

	.mobile {
		display: inline-block;
	}

	.nomobile {
		display: none;
	}

	* {
		/* 文字の大きさ、マージン、行間をスッキリさせる */
		/*font-size: 110%;*/
		/*line-height: 1.2;*/
	}
	*:not(#copyright) {
		margin: 0 0 1.0em 0 !important;
	}

	table * {
		padding: 0px;
	}

	body {
		/* 文字サイズをデバイス側から勝手に変えられないように */
		/*-webkit-text-size-adjust: 100% !important;*/
	}

	#copyright {
		position: fixed;
		bottom: 0px;
		padding: 0px;
	}
}